body {
    font-family: "DSEG7 Classic", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d1f21;
}

#result, #previous {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #545557;
    font-size: 24px;
    background-color: #9ea2a6;
    color: #1d1f21;
    text-align: center;
    border-radius: 8px;
}

#result{
    height: 45px;
}

#previous{
    height: 30px;
}

.row {
    display: flex;
}

button {
    flex: 1;
    height: 55px;
    margin: 5px;
    border: 1px solid #545557;
    font-size: 20px;
    cursor: pointer;
    background-color: #505050;
    color: white;
    transition: background-color 0.2s;
    border-radius: 8px;
}

.operation {
    background-color: #f29f05;
}

.clean {
    background-color: #d43f3a;
}

button:hover {
    background-color: #686868;
}

.operation:hover {
    background-color: #da8400;
}

.clean:hover {
    background-color: #c53530;
}

#previous {
    font-size: 18px;
}

#clear {
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.equal{
    color: #1d1f21;
    background-color: white;
}